.btn {
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.15s ease, opacity 0.15s ease;
}

.btn:hover {
  opacity: 0.85;
  transform: scale(1.1);
}

.app {
  border: 0.1px solid;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  width: 900px;
  border-radius: 20px;
  padding: 30px;
  gap: 30px;
  background-color: var(--color-onix);
  height: 80vh;
}

.app-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.app-logo {
  font-size: 22px;
  font-weight: bold;
  color: var(--color-tiger-flame);
}

.app-settings > svg {
  stroke: var(--color-pate-oak);
}

.app-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 20px;
  max-width: 400px;
  width: 100%;
}

.progress-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0.1px solid var(--color-pate-oak);
  border-radius: 20px;
  padding: 40px;
  gap: 60px;
}

.progress-card__info {
  color: var(--color-pate-oak);
}

.progress-card__circle {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 60px;
  background-color: var(--color-tiger-flame);
}

.progress-card__value {
  font-size: 30px;
  font-weight: bold;
  color: var(--color-onix);
}

.task-input {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: stretch;
}

.task-input__add {
  padding: 10px;
  background-color: var(--color-tiger-flame);
  border-radius: 50%;
  transition: background-color 0.15s ease, transform 0.15s ease;
}

.task-input__add:hover {
  background-color: color-mix(in srgb, var(--color-tiger-flame) 80%, white);
  transform: scale(1.1);
}

.task-input__add > svg {
  stroke-width: 5;
}

.task-input__field {
  border-radius: 15px;
  height: 40px;
  width: 100%;
  padding: 20px;
  border: none;
  background-color: var(--color-carbon-black);
  font-size: 18px;
  color: var(--color-pate-oak);
}

.task-input__field::placeholder {
  font-size: 18px;
}

.task-input__field:focus {
  outline: none;
  border: 2px solid #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.task-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  height: 40px;
  width: 100%;
  padding: 30px 20px;
  border: 1px solid var(--color-pate-oak);
  background-color: var(--color-carbon-black);
}

.task-item__info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.task-item__status > svg {
  stroke: var(--color-tiger-flame);
}

.task-item__text {
  font-size: 22px;
  font-weight: bold;
  color: var(--color-pate-oak);
}

.task-item__actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.btn-item > svg {
  stroke: var(--color-pate-oak);
  transition: stroke 0.15s ease;
}

.btn-item:hover > svg {
  stroke: var(--color-tiger-flame);
}

@media screen and (max-width: 768px) {
  .app {
    margin: 20px;
  }

  .progress-card {
    padding: 30px 20px;
    gap: 10px;
  }
}