---

---

<article class="task-item">
  <button class="task-item__status"></button>

  <span class="task-item__text">Task 1</span>

  <div class="task-item__actions">
    <button class="task-item__edit"></button>
    <button class="task-item__delete"></button>
  </div>
</article>
