---
import "../styles/global.css";
import {
  IconCircle,
  IconEdit,
  IconTrash,
} from "@/icons";
---

<article class="task-item">
  <button class="task-item__status"> <IconCircle /> </button>

  <span class="task-item__text">Task 1</span>

  <div class="task-item__actions">
    <button class="task-item__edit"> <IconEdit /> </button>
    <button class="task-item__delete"> <IconTrash /> </button>
  </div>
</article>